body {
  margin: 0;
}

.pointer {
  cursor: pointer;
}
.table th, .table td {
  white-space: pre;
}

.flex-auto {
  flex: auto;
}

label {
  margin-bottom: 0;
}

li.show > .show-dropdown-menu {
  display: block;
  opacity: 1;
  transform: scale(1);
}